$bgc-primary: #FFA800;
$bgc-black: #0b0b0b;
$bgc-light: #E3E3E3;


$theme-colors: (
  "primary": #FFA800,
  "danger": #ff4136
);

@import '~bootstrap/scss/bootstrap';
@import './fonts/Fonts.scss';


.bgc-light {
    background-color: $bgc-light;
}

.bgc-primary {
    background-color: $bgc-primary;
}

// TEMPLATE TEXT
.template-text {
    hr {
        border-top: 4px solid $bgc-primary;
        opacity: 1;
        width: 15vw;
    }

    @include media-breakpoint-up(sm) {
        hr {
          width: 10vw;
        }
    }

    &.bgc-primary {
        hr {
            border-top: 4px solid $bgc-black;
        }
    }
}   

// TEMPLATE FROM
.template-form {
    .row {
        max-width: 1000px;
    }
}